<html>
	<body>
		<form action="/message" method="POST">
		  <h2>Submit your message!</h2>
		  <textarea name="body" id="body" cols="30" rows="10"></textarea>
		  <input type="submit" />  
		</form>
		<hr />
		{% for message in messages %}
		    <h4>{{message.date}}</h4>
		    <pre>{{message.body}}</pre>
		{% endfor %}
	<hr />
	{% if messages %}
  	<h4 style="color:red;">{% if cache_hit %}
          Messages retrieved from cache.
      {% else %}
          Fresh Batch of messages!
      {% endif %}</h4>
	{% endif %}
	</body>
	
	
</html>
